<div class="row">
    <section class="6u">
        <ul class="default">
            <li><a href="silat-at-unesco-2019.html">Silat at UNESCO 2019</a></li>
            <li><a href="belgium-visit-indo-minister-of-sports-and-youth.html">Visit to the Indonesian Ministry of Sports and Youth in Indonesia</a></li>
            <li><a href="european-open-championships-2019.html">European Open Championships 2019</a></li>
            <li><a href="silat-belgium-open-2018.html">Belgian Open Championships 2018</a></li>
            <li><a href="european_championships_2017.html">European Pencak Silat Championships 2017</a></li>
            <li><a href="world_championships_2016.html">Pencak Silat World Championships 2016</a></li>
            <li><a href="euro_wasit_juri_report_wcs_2016.html">European Wasit &amp;amp; Juri at Pencak Silat World Championships 2016</a></li>
            <li><a href="epsf_board_election_2016.html">EPSF Board Election 2016 results</a></li>
            <li><a href="pak_haka_tahir.html">Bapak Haka Tahrir (1918 - 2016)</a></li>
            <li><a href="european_championships_2013.html">Pencak Silat European Championships 2013</a></li>
        </ul>
    </section>
    <section class="6u">
        <ul class="default">
            <li><a href="abdul_kadir_ibrahim.html">Abdul Kadir Ibrahim (1972 - 2013)</a></li>
            <li><a href="indonesia-festival-moscow-2017.html">Indonesia Festival 2017 - Moscow</a></li>
            <li><a href="pak_maryono.html">Bapak O'ong Maryono (1953 - 2013)</a></li>
            <li><a href="persilat_delegation_uk_wc2015.html">PERSILAT delegation visit to the UK in Promotion of 16th World Pencak Silat Championship</a></li>
            <li><a href="russia_summer_camp_2015.html">RPSF hosts Silat Summer Camp in Sochi, Russia</a></li>
            <li><a href="pak_mohamed_rifai_sahib.html">Bapak Mohamed Rifai Sahib (1947 - 2014)</a></li>
            <li><a href="world_championships_2015.html">Pencak Silat World Championships 2015</a></li>
            <li><a href="dutchopen2016.html">Dutch Open 2016</a></li>
            <li><a href="european_training_camp_2016.html">European Training Camp 2016</a></li>
        </ul>
    </section>
</div>